body {
  margin: 0;
  background-image: url(record.png);
  text-align: center;
}

.myShop {
    background-color: darkblue;
}

.mainPara {
  background-color: lightgrey;
  padding: 1em;
}

.white-text {
  color: white;
}

#black-text {
  color: black;
}
